/*
 * Cytoscape graph DOM styles
 *
 * IMPORTANT: This file contains ONLY DOM element styles (HTML/CSS).
 * For Cytoscape node/edge styles, see src/cytoscape-graph-ui/services/StyleService.ts
 */

/* Navigator view */
/* // todo these were unused, idk*/
/*div.cy-navigator {*/
/*  width: 150px;*/
/*  height: 150px;*/
/*  position: fixed;*/
/*  z-index: 3;*/
/*  bottom: 10px;*/
/*  right: 27px;*/
/*  border: #828282 1px solid;*/
/*  border-radius: 2px;*/
/*  background-color: rgba(130, 130, 130, 0.1);*/
/*  cursor: default;*/
/*  overflow: hidden;*/
/*}*/

/*div.cy-navigator > img {*/
/*  position: relative;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  z-index: 0;*/
/*  opacity: 0.8;*/
/*}*/

/*.cytoscape-navigatorView {*/
/*  position: relative;*/
/*  top: 0;*/
/*  left: 0;*/
/*  cursor: move;*/
/*  background: #828282;*/
/*  -moz-opacity: 0.20;*/
/*  opacity: 0.20;*/
/*  width: 50%;*/
/*  height: 50%;*/
/*  z-index: 0;*/
/*}*/

/*.cytoscape-navigatorOverlay {*/
/*  position: relative;*/
/*  top: 0;*/
/*  left: 0;*/
/*  z-index: 103;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/

/*!* Hide scrollbars in graph view *!*/
/*.cy-content {*/
/*  overflow: hidden !important;*/
/*  -ms-overflow-style: none !important;*/
/*  scrollbar-width: none !important;*/
/*  padding: 0 !important;*/
/*}*/

/*.cy-content::-webkit-scrollbar {*/
/*  display: none !important;*/
/*}*/

/* Context menu styles */
div.cxtmenu-item {
    opacity: 0.8;
}

/* Horizontal context menu (ctxmenu library) - use !important to override injected styles */
ul.ctxmenu.horizontal {
    display: flex !important;
    flex-direction: row !important;
    padding: 0 2px !important;
    height: auto !important;
    width: auto !important;
    background: transparent;
    border: none;
    box-shadow: none;
    /* NOTE: Do NOT use transform here - it breaks fixed positioning for submenus */
}

ul.ctxmenu.horizontal > li {
    display: inline-flex !important;
    margin: 0 1px !important;
}

/* Target only inner spans (icon wrapper + label), not the outer flex container */
ul.ctxmenu.horizontal > li > span > span {
    display: inline-block !important;
    white-space: nowrap !important;
}

/* Padding on the outer container span */
ul.ctxmenu.horizontal > li > span {
    padding: 4px 8px !important;
}

/* Submenus from horizontal menu expand vertically below */
ul.ctxmenu.horizontal ul.ctxmenu {
    flex-direction: column !important;
    display: block !important;
    background: #fff !important;
    border: 1px solid #999 !important;
    box-shadow: #aaa 3px 3px 3px !important;
    padding: 2px 0 !important;
    transform: none !important;
}

ul.ctxmenu.horizontal ul.ctxmenu li {
    display: block !important;
}

/* Style the submenu trigger in horizontal menu */
ul.ctxmenu.horizontal > li.submenu::after {
    display: none !important; /* Hide default right arrow */
}

/* Toolbar styles */
.cy-toolbar {
    position: relative;
    left: 8px;
    top: 8px;
    width: fit-content;
    max-width: inherit;
    height: 0;
    margin: 2px;
    margin-block-start: 0;
    margin-block-end: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0);
}

.cy-toolbar-section {
    width: fit-content;
    text-align: center;
    background-color: var(--background-primary, #1e1e1e);
    display: inline-block;
    margin: 1px;
    padding: 1px;
    border-color: var(--background-modifier-border, #333);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    opacity: 1;
}

.cy-toolbar > input[type='text'] {
    font-size: var(--font-small, 12px);
    background-color: var(--background-secondary, #2a2a2a);
    height: 30px;
    padding: 5px 7px;
}

button.graph-button {
    width: 27px;
    height: 27px;
    text-align: center;
    background-color: var(--background-secondary, #2a2a2a);
    padding: 0 !important;
    margin: 1px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

button.graph-button:hover {
    background-color: var(--background-modifier-hover, #3a3a3a);
}

button.graph-button:disabled {
    background: var(--background-primary, #1e1e1e);
    cursor: not-allowed;
    opacity: 0.3;
}

button.graph-button > svg {
    width: 16px;
    height: 16px;
}

button.graph-button > svg > path {
    fill: var(--text-muted, #999);
    opacity: 0.6;
}

button.graph-button:hover > svg > path {
    opacity: 1;
}

button.graph-button:disabled > svg > path {
    opacity: 0.3;
}
