node_modules/**/*
.idea/**/*
webapp/package-lock.json
/dist-electron/main/index.js
/dist-electron/preload/index.js
/dist-electron/renderer/**/*
vscode/**/*
**/chroma.sqlite3
src/fixtures/example_small/**/*
src/fixtures/example_real_large/**/*
.env
.env.local
/backups/**/*
/SSE/**/*
